/* ------------------------------- 3. Slider Styles ------------------------------- */

#fwslider {
    position: relative;
    width:100%;
    font-family: 'Roboto Condensed', sans-serif;
}

#fwslider .slide {
    display: none;
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
    width:100%;
}

#fwslider .slide img {
    width:100%;
}

#fwslider .slidePrev {
    background:#131313;
    width:50px;
    height:50px;
    position: absolute;
    top:50%;
    left:-50px;
    z-index: 10;
}

#fwslider .slidePrev span {
	background: url("../images/arrows.png") no-repeat 16px 14px;
	width: 45px;
	height: 45px;
	float: left;
	cursor: pointer;
}
#fwslider .slideNext {
    background:#131313;
    width:50px;
    height:50px;
    position: absolute;
    top:50%;
    right:-50px;
    z-index: 10;
}

#fwslider .slideNext span {
	background: url("../images/arrows.png") no-repeat -16px 14px;
	width: 45px;
	height: 45px;
	float: left;
	cursor: pointer;
}

#fwslider .timers {
    height:4px;
    position: absolute;
    bottom:15px;
    right:0;
    z-index: 3;
}

#fwslider .timer {
    height:4px;
    width:40px;
    background-color: #000;
    float:left;
    margin-right: 10px;
}

#fwslider .progress {
    height:4px;
    width:0%;
    background-color: #E8645A;
    float:left;
}

#fwslider .slide_content {
    top:0;
    left:0;
    position: absolute;
    width:100%;
    height:100%;
}

#fwslider .slide_content_wrap { /* Slider Text Content Container Style */
    max-width:1280px;
    margin:12% auto;
}

#fwslider .title {  /* Slider Title Style */
	text-align: center;
	width: 60%;
	margin: 0 auto;
	text-transform: uppercase;
	color: #fff;
	font-size: 4.5em;
	background: rgba(0, 0, 0, 0.26);
	padding: 15px 30px;
	font-style: normal;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}

#fwslider .description { /* Slider Description Style */
	text-align: center;
	color: #ffffff;
	width: 75%;
	margin: 0 auto;
	font-size: 18px;
	background: rgba(0, 0, 0, 0.26);
	padding: 15px 30px;
	clear: both;
	margin-top: 15px;
	line-height: 24px;
	font-style: normal;
	font-weight: 400;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}
/* ------------------------------- 4. Media Query Max Width 1300, Min Width 720 ------------------------------- */
@media only screen and (min-width:720px) and (max-width: 1300px) {

    #fwslider .slide_content_wrap { margin-left:50px; margin-top:15%;}
    #fwslider .title {
		width: 70%;
		font-size:24px;
	}
	#fwslider .description {
		width: 80%;
		font-size:13px;
		padding: 15px 10px;
	}
}

/* ------------------------------- 5. Media Query Max Width 719 ------------------------------- */

@media only screen and (max-width:719px) {

    #fwslider .slide_content_wrap { display:none; }
    #fwslider .timers { display:none; }
    #fwslider .slide_content {cursor: pointer;}
    #fwslider .slideNext {
		width: 40px;
		height: 40px;
	}
	#fwslider .slidePrev {
		width: 40px;
		height: 40px;		
	}
	#fwslider .slideNext span {
		background: url("../images/arrows.png") no-repeat -20px 11px;
		width: 40px;
		height: 40px;
	}
	#fwslider .slidePrev span {
		background: url("../images/arrows.png") no-repeat 12px 11px;
		width: 40px;
		height: 40px;
	}

}