---
#footer goodies
---

.foot-low-bg {
    background-color: black;
    /* currently working properly to keep towards the bottom of the page */
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    bottom: 50px;
}
.foot-low-container {
    color: white;
    margin: auto;
    margin-top: 0.5% !important;
    margin-bottom: 0.5% !important;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.foot-low-copy {
    font-size: 14px;
    display: inline;
}
.soc-icons-right {
    float: right;
}
.soc-icons-list li {
    list-style: none;
    display: inline-block;
    font-size: 24px;
    margin-left: 20px;
    /* Fix to center the soc icons */
    margin-top: -5px;
    color: white !important;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}
.soc-icons-list li:hover {
    color: red !important;
}
.foot-high-bg {
    background-color: #1d1d1d;
    /* currently working properly to keep towards the bottom of the page */
    padding-left: 10%;
    padding-right: 10%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.foot-high-container div {
    display: block;
    vertical-align: top; 
}
.foot-high-content h4 {
    font-size: 24px;
    color: #a8a8a8;
    text-transform: capitalize;
    margin: 0px 0px 15px;
    font-weight: 500;
    line-height: 1.1;
}
.foot-high-col-1 {
    padding-right: 15px;
}
.foot-high-col-1 img {
    margin-bottom: 15px;
}
.f_para {
	width: 90%;
}
.foot-phone-num {
    font-size: 18px;
}
.foot-email-link {
    color: red !important;
    font-size: 18px;
    font-style: italic;
    text-decoration: underline;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}
.foot-email-link:hover {
    color: white !important;
}
.foot-high-col-2 {
    padding-right: 15px;
}
.foot-high-col-3 {
    padding-right: 15px;
}
.foot-high-col-4 {
    padding-left: 15px;
}
.foot-high-content {
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 14px;
}
.f_list {
    margin-left: 0px !important;
}
.f_list li {
    list-style: none;
    line-height: 1.8em;
}
.f_list li a:before {
    content: url(/assets/images/right_arrow.png);
    vertical-align: baseline;
    margin-right: 10px;
}
.f_list li a {
    color: white !important;
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}
.f_list li a:hover {
    color: red !important;
}
.blog_list img {
    
}
.f_pic {
	padding: 0px;
    display: inline-block;
    float: left;
}
.f_pic img {
	margin-top:5px;
    max-width: 60%;
    height: auto;
}
.f_text {
    float: left;
    display: inline-block;
    width: 75%;
}
.f_text a {
	text-decoration:none;
}
.f_text p {
	font-size: 14px;
	color: #ffffff;
	line-height: 1.5em;
	margin: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.f_text p:hover {

	color: #fa1326;
}
.f_text span {
	font-size: 14px;
	color: #a8a8a8;
	text-transform: capitalize;
	display: block;
	margin-top: 5px;
}
@media (min-width: 768px) {
    .foot-low-container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .foot-low-container {
        width: 970px;
    }
    .foot-high-col-1 {
        width: 33.33333333%;
    }
    .foot-high-col-2 {
        width: 16.66666667%;
    }
    .foot-high-col-3 {
        width: 16.66666667%;
    }
    .foot-high-col-4 {
        width: 25.3%;
    }
    .foot-high-container div {
        display: inline-block;
    }
}
@media (min-width: 1200px) {
    .foot-low-container {
        width: 1170px;
    }
}
