---
---

.article-header {
    box-sizing: border-box;
    color: rgb(128, 139, 141);
    display:block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size:20px;
    font-weight:500;
    height:44px;
    line-height:22px;
    margin-bottom:10px;
    margin-top:20px;
    text-size-adjust:100%;
    width:342px;
    -webkit-margin-after:10px;
    -webkit-margin-before:20px;
    -webkit-margin-end:0px;
    -webkit-margin-start:0px;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}